useDynLib(unifiedDBI)

export(
       dbDriver,
       dbConnect,
       dbSendQuery,
       fetch,
       dbFetchQuery,
       dbClearResult,
       dbDisconnect,
       dbWriteTable,
       dbExistsTable,
       dbListTables,
       dbCreateIndex
       ##dbCommit,
       ##dbRollback
       )

##S3method("print", "dbConnection")
