useDynLib(unifiedDBI)

export(
       dbDriver,
       dbConnect,
       dbSendQuery,
       fetch,
       dbClearResult,
       dbDisconnect,
       dbWriteTable
       ##dbCommit,
       ##dbRollback
       )

##S3method("print", "dbConnection")
